<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="">
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">admin</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/hibernate</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <mapping class="Modele.FieldOwnedRecords" />
        <mapping class="Modele.OwnRecord" />
        <mapping class="Modele.Updatehistory" />
        <mapping class="Modele.Evaluation" />
        <mapping class="Modele.Soundtrack" />
        <mapping class="Modele.Playlist" />
        <mapping class="Modele.Comment" />
        <mapping class="Modele.Field" />
        <mapping class="Modele.Artist" />
        <mapping class="Modele.AuthenticatedUser" />
        <mapping class="Modele.Record" />
    </session-factory>
</hibernate-configuration>
